NEXT_PUBLIC_SSO_KEY=
NEXT_PUBLIC_SUS_SESSION=
NEXT_PUBLIC_SITE_URL="https://www.startupschool.org/cofounder-matching/candidate/"
NEXT_PUBLIC_FETCH_URL="https://www.startupschool.org/cofounder-matching/candidate/next"
MONGODB_URI=

AUTH_JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=